@use '../../index.scss' as *;

.container {
  width: 100%;
}

.splash {
  display: flex;
  align-items: center;
  margin: 100px 0;

  @include mobile {
    flex-direction: column;
    margin: 75px 0 25px;
  }

  .profile {
    width: 40%;
    height: 700px;
    object-fit: cover;

    @include mobile {
      width: min(100%, 500px);
      height: 250px;
      padding-bottom: 15px;
    }
  }

  .intro {
    flex: 1;
    padding-left: 5%;
    align-self: stretch;

    @include mobile {
      padding-left: 0;
    }

    .text {
      @include regular(22px);
      @include mobileFont(18px);
    }
  }
}

.title {
  @include semiBold(24px);
  margin: 30px 0;

  @include mobile {
    margin: 15px 0;
  }
}
