@use '../../index.scss' as *;

.container {
  width: 100%;
}

.banner {
  height: 375px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.break {
  margin: 21px 0 15px;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  @include medium(28px);
}

.description {
  @include regular(22px);
  max-width: 50%;
}
