@use '../../index.scss' as *;

.container {
  width: 100%;

  .splash {
    position: relative;

    .banner {
      padding: 20px 0;
      height: 375px;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
      display: block;
      border: 1px solid #000;
      @include theme-background(#fff, #000);
    }

    .chips {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      top: 10px;
      left: 10px;
      width: 45%;
    }
  }

  .break {
    margin: 21px 0 15px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title {
      @include medium(28px);
    }

    .description {
      @include regular(22px);
      max-width: 50%;
    }
  }
}
