@use '../../index.scss' as *;

.container {
  width: 100%;

  .splash {
    position: relative;

    .banner {
      padding: 20px;
      height: 375px;
      width: calc(100% - 40px);
      object-fit: contain;
      object-position: bottom;
      display: block;
      border: 1px solid #000;
      @include theme-background(#fff, #000);
      @include mobile {
        height: 275px;
      }
    }

    .chips {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      top: 10px;
      left: 10px;
      width: 45%;
      @include mobile {
        width: calc(100% - 20px);
      }
    }
  }

  .break {
    margin: 21px 0 15px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mobile {
      flex-direction: column;
    }

    .title {
      @include medium(28px);
      @include mobileFont(24px);
    }

    .description {
      @include regular(22px);
      @include mobileFont(18px);
      max-width: 50%;

      @include mobile {
        max-width: unset;
        padding-top: 10px;
      }
    }
  }
}
