@use '../../index.scss' as *;

.container {
  width: 100%;
}

.splash {
  margin: 250px 0;

  .title {
    @include medium(48px);
  }

  .subtitle {
    @include regular(24px);
    margin-top: 25px;
  }
}

.projects {
  @include semiBold(36px);
  margin: 50px 0 115px;
}

.workTogether {
  margin: 40px 0 75px;

  .subject {
    @include semiBold(36px);
  }

  .message {
    @include regular(24px);
    margin-top: 25px;
    width: 65%;
  }
}
