@use '../../index.scss' as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px 0;

  @include mobile {
    flex-direction: column;
    max-width: 300px;
  }

  .break {
    margin: 20px 0;
    display: none;

    @include mobile {
      display: block;
    }
  }

  .logo {
    width: 150px;
    height: 100px;
    object-fit: contain;

    @include mobile {
      width: 100%;
    }
  }

  .name {
    @include medium(48px);
    @include mobileFont(28px);
    padding-left: 80px;
    flex: 2;
    @include mobile {
      padding: 0;
      width: 100%;
      flex: unset;
    }
  }

  .description {
    @include regular(22px);
    @include mobileFont(18px);
    flex: 3;

    @include mobile {
      width: 100%;
      margin-top: 15px;
      flex: 1;
    }
  }
}
