.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  background: #00000060;
  backdrop-filter: blur(3px);

  .modal {
    position: absolute;
    background: #00000022;
    padding: 25px;
    background: #fff;

    .closeBtn {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    .content {
      width: fit-content;
      height: fit-content;
    }
  }
}
