@use '../../index.scss' as *;

.container {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 165px;
}

.message {
  @include regular(18px);
}

.links {
  @include semiBold(18px);
  color: $meta-color;
  display: flex;
  gap: 65px;
}
