$meta-color: #656565;

@mixin main-column() {
  width: clamp(950px, 85%, 1250px);
  margin: auto;
}

@mixin font($font-size: 22px, $font-weight: 400) {
  font: $font-weight $font-size 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.03em;
}

@mixin regular($font-size) {
  @include font($font-size, 400);
}

@mixin medium($font-size) {
  @include font($font-size, 500);
}

@mixin semiBold($font-size) {
  @include font($font-size, 600);
}

@mixin theme-color($light-color, $dark-color) {
  [data-theme='light'] & {
    color: $light-color;
  }
  [data-theme='dark'] & {
    color: $dark-color;
  }
}

@mixin theme-background($light-background, $dark-background) {
  [data-theme='light'] & {
    background: $light-background;
  }
  [data-theme='dark'] & {
    background: $dark-background;
  }
}

@mixin theme-flip($light-color, $dark-color) {
  @include theme-background($light-color, $dark-color);
  @include theme-color($dark-color, $light-color);
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/background.png') repeat;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;

  &.locked {
    overflow: hidden;
  }
}

#root {
  @include main-column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
img,
button,
input {
  display: block;
}

button,
input {
  font: inherit;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
