@use '../../index.scss' as *;

.mobile {
  .button,
  .background,
  .menu {
    position: fixed;
  }

  .menu,
  .background {
    z-index: -1;
  }

  .button {
    z-index: 3;
  }

  .button {
    right: 10px;
    top: 10px;
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    transition: z-index 1s 0.5s;

    .icon {
      path {
        transition: stroke-dashoffset 0.5s cubic-bezier(0.18, 0.54, 0.65, 1);
        will-change: stroke-dashoffset;
      }

      :nth-child(1) {
        stroke-dasharray: 61;
        stroke-dashoffset: 42;
      }
      :nth-child(2) {
        stroke-dasharray: 19;
        stroke-dashoffset: 0;
      }
      :nth-child(3) {
        stroke-dasharray: 68;
        stroke-dashoffset: 49;
      }
    }
  }

  .background {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #00000060;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, z-index 1s 0.5s;
  }

  .menu {
    width: 80%;
    top: 0;
    bottom: 0;
    right: -100%;
    transition: right 0.5s ease-in-out, z-index 1s 0.5s;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    background: #fff;

    .links {
      flex-direction: column;
      gap: 34px;
      align-items: center;
    }
  }

  &.open {
    .menu,
    .background {
      z-index: 1;
      transition: z-index 1s;
    }

    .background {
      opacity: 1;
      transition: opacity 0.5s ease-in-out, z-index 1s 0s;
    }

    .menu {
      right: 0;
      transition: right 0.5s ease-in-out, z-index 1s 0s;
    }

    .icon {
      :nth-child(1) {
        stroke-dashoffset: -42;
      }
      :nth-child(2) {
        stroke-dashoffset: -19;
      }
      :nth-child(3) {
        stroke-dashoffset: -49;
      }
    }
  }
}

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  a {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: 0;
      right: 0;
      background: $meta-color;
      transition: width 0.2s ease-in-out 0s;
    }

    &:hover::before {
      width: 100%;
      left: 0;
      transition: width 0.2s ease-in-out 0s;
    }
  }
}

.logo {
  width: 80px;
  height: 83px;
  object-fit: cover;
}

.links {
  @include semiBold(18px);
  color: $meta-color;
  display: flex;
  gap: 65px;
}
